{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<h2>Order Completed</h2>
    <div class="card">

        <div class="card-body">
            <div class="orderCompleted">


                <h3> Your Order Number: {{Pizza.id}}</h3>


                
                
                    Size: {{pizza.size}}
                    <br>
                    Crust type: {{pizza.crust}}
                    <br>
                    Sauce: {{pizza.sauce}}
                    <br>
                    Cheese: {{pizza.cheese}}
                    <br>
                    Toppings:
                    
                        {% if pizza.pepperoni %}Pepperoni {% endif %} 
                        {% if pizza.chicken %}Chicken{% endif %} 
                        {% if pizza.ham %}Ham {% endif %} 
                        {% if pizza.pineapple %}Pineapple{% endif %} 
                        {% if pizza.peppers %}Peppers{% endif %} 
                        {% if pizza.mushrooms %}Mushrooms {% endif %} 
                        {% if pizza.onions %}Onions{% endif %}  

            </div>
            
        </div>
        <div class ="button">
        <a href="/" class="btn btn-primary">Go Back Home</a>
        </div>
        
{% endblock %}
